[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
fbs = "*"
pyqt5 = "==5.9.2"
openpyxl = "*"
pandas = "*"
qtawesome = "*"

[requires]
python_version = "3.7"
